<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent Screen</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/consent_screen.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="form-container"> 
                <div style="text-align:center">
                    <h3><strong>{{ .ClientName }}</strong> wants to access your account.</h3>  
                    <div class="profile-info">
                        <img src="/public/img/profile.png" alt="Profile Icon" class="profile-icon">
                        <p class="email">{{ .Email }}</p>
                    </div>
                </div> 

                <p>Give <strong>{{ .ClientName }}</strong> permission to:</p>    

                <form id="consent-form" method="POST">
                    <ul class="scopes-list">
                        {{ range .Scopes }}
                        <li>
                            <input type="checkbox" id="scope{{ .Scope }}" name="scopes" value="{{ .Scope }}">
                            <label for="scope{{ .Scope }}">{{ .Description }}</label>
                        </li>
                        {{ end }}
                    </ul>
                    <div class="button-container">
                        <input type="button" value="Deny" class="btn btn-deny" id="deny-button">
                        <input type="submit" value="Allow" class="btn btn-allow">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/public/js/consent_screen.js"></script>
</body>
</html>
