<!DOCTYPE html>
<html lag="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consent Screen</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/css/consent_screen.css">

</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="form-container"> 
                <div style="text-align:center">
                    <p>[App Name] requests access to the following permissions:</p>    
                </div> 
                <form method="POST">
                    <input type="checkbox" id="scope1" name="scope1" value="scope">
                    <label for="scope1"> scope</label><br>
                    <input type="checkbox" id="scope2" name="scope2" value="scope">
                    <label for="scope2"> scope</label><br>
                    <input type="checkbox" id="scope3" name="scope3" value="scope">
                    <label for="scope3"> scope</label><br><br>
                    <div class="button-container">
                        <input type="button" value="Deny" class="btn btn-deny" onclick="handleDeny()">
                        <input type="submit" value="Allow" class="btn btn-allow">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function handleDeny() {
            window.location.href = '/';
        }
    </script>
</body>
</html>