<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter email</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/form.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="form-container">
                <div class="heading">
                    <h4>Enter the email address associated with your account.</h4>
                </div>
                {{ if .ErrorMessage }}
                    <div class="error-message">
                        <p>{{ .ErrorMessage }}</p>
                    </div>
                {{ end }}
                <form action="/enter/email" method="post">
                    <label for="email">Email:</label><br>
                    <input type="text" id="email" name="email"><br><br>
                    <input type="submit" value="Continue">
                </form>
            </div>
        </div>
    </div>
</body>
</html>