<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/form.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="form-container">
                <div class="heading">
                    <h2>Reset your password</h2>
                </div>
                {{ if index .FormErrors "Password" }}
                    <div class="error-message">
                        <p>{{ index .FormErrors "Password" }}</p>
                    </div>
                {{ end }}
                <form action="/password-reset?email={{ index .QueryParameters "Email" }}&code={{ index .QueryParameters "Code" }}" method="post">
                    <label for="New password">New password:</label><br>
                    <input type="password" id="password" name="password" value="{{ index .FormFields "Password" }}" required><br>
                    <label for="password">Confirm new password:</label><br>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <input type="submit" value="Continue">
                </form>
            </div>
        </div>
    </div>
</body>
</html>