<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/form.css">

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const form = document.querySelector("form");

            form.addEventListener("input", function(event) {
                const target = event.target;
                const errorElement = target.nextElementSibling;
                const pElement = errorElement.querySelector("p");
                if (errorElement && errorElement.classList.contains("error-message") && pElement.textContent.includes("empty")) {
                    errorElement.textContent = "";
                }
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <div class="form-container">
                <div class="heading">
                    <h2>Register</h2>
                </div>
                <form method="POST">
                    <label>First name:</label>
                    <input type="text" name="firstName" id="firstName" value="{{index .FormFields "First name"}}" autofocus>
                    {{ if index .FormErrors "First name" }}
                        <div class="error-message">
                            <p>{{index .FormErrors "First name"}}</p>
                        </div>
                    {{ end }}
                    <label>Last name:</label>
                    <input type="text" name="lastName" id="lastName" value="{{index .FormFields "Last name"}}" >
                    {{ if index .FormErrors "Last name" }}
                        <div class="error-message">
                            <p>{{ index .FormErrors "Last name" }}</p>
                        </div>
                    {{ end }}
                    <label>Email:</label>
                    <input type="text" name="email" id="email" value="{{index .FormFields "Email"}}" >
                    {{ if index .FormErrors "Email" }}
                        <div class="error-message">
                            <p>{{ index .FormErrors "Email" }}</p>
                        </div>
                    {{ end }}
                    <label>Username:</label>
                    <input type="text" name="username" id="username" value="{{index .FormFields "Username"}}" >
                    {{ if index .FormErrors "Username" }}
                        <div class="error-message">
                            <p>{{ index .FormErrors "Username" }}</p>
                        </div>
                    {{ end }}
                    <label>Password:</label>
                    <input type="password" name="password" id="password" value="{{index .FormFields "Password"}}" >
                    {{ if index .FormErrors "Password" }}
                        <div class="error-message">
                            <p>{{ index .FormErrors "Password" }}</p>
                        </div>
                    {{ end }}
                    <input type="Submit">
                    <p class="message">Already have an account? <a href="/login">Login</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
