<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification Code</title>
    <link rel="stylesheet" href="/public/verification.css">
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2 class="heading">Enter verification code</h2>
            {{ if .ErrorMessage }}
                <div id="error-message">
                    <p>{{ .ErrorMessage }}</p>
                </div>
            {{ end }}
            <form action="/verification/{{ .Email }}" method="post">
                <input type="text" name="digit1" maxlength="1" required>
                <input type="text" name="digit2" maxlength="1" required>
                <input type="text" name="digit3" maxlength="1" required>
                <input type="text" name="digit4" maxlength="1" required>
                <input type="text" name="digit5" maxlength="1" required>
                <input type="text" name="digit6" maxlength="1" required>
                <br><br>
                <input type="submit" value="Verify">
            </form>
        </div>
    </div>
</body>
</html>
